RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ /index.php [L,QSA]



<IfModule mod_mime.c>
AddType application/x-httpd-php .php
AddType application/x-httpd-php .htm
AddType application/x-httpd-php .html
AddType application/x-httpd-php .tpl
</IfModule>

ErrorDocument 404 /404.html

#AddHandler php5-fastcgi .htm .html
#RemoveHandler .html .htm
#AddType application/x-httpd-php .php .htm .html .phtml
#AddHandler php-cgi .html .htm .phtml .php

RemoveHandler .html .htm
AddType application/x-httpd-php .html .htm


Options -Indexes
DirectoryIndex index.php
AddDefaultCharset utf-8

RewriteEngine on
#Redirect by https://www.site.com => https://site.com
RewriteCond %{HTTPS_HOST} ^www.(.*) [NC]
RewriteRule ^/?(.*) https://%1/$1 [L,R=permanent]

#Redirect by http://www.site.com => https://site.com
RewriteCond %{HTTP_HOST} ^www.(.*) [NC]
RewriteRule ^/?(.*) https://%1/$1 [L,R=permanent]

RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

Redirect 301 /final/ru/index.php /final/ru/population-of-earth.html
Redirect 301 /final/en/index.php /final/en/population-of-earth.html
Redirect 301 /final/ru/ru/index.php /final/ru/ru/population-of-russia.html

ErrorDocument 404 /404.html